# _salary prediction using decision tree algorithm_

In [27]:
import pandas as pd

In [28]:
df = pd.read_csv("salaries.csv")
df.head()

  company                  job     degree  salary_more_then_100k Unnamed: 4
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [29]:
inputs = df.drop('salary_more_then_100k',axis='columns')

In [30]:
target = df['salary_more_then_100k']

In [31]:
from sklearn.preprocessing import LabelEncoder
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [32]:
inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_job.fit_transform(inputs['job'])
inputs['degree_n'] = le_degree.fit_transform(inputs['degree'])

In [65]:
inputs.head()

,company,job,degree,Unnamed: 4,company_n,job_n,degree_n
0,google,sales executive,bachelors,,2,2,0
1,google,sales executive,masters,,2,2,1
2,google,business manager,bachelors,,2,0,0
3,google,business manager,masters,,2,0,1
4,google,computer programmer,bachelors,,2,1,0

In [57]:
inputs_n = inputs.drop(['company','job','degree','Unnamed: 4'],axis='columns')

In [66]:
inputs_n

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [59]:
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [69]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [71]:
model.fit(inputs_n,target)

DecisionTreeClassifier()

In [75]:
model.score(inputs_n,target)

1.0

#### Is salary of Google, Computer Engineer, Bachelors degree > 100 k ?

In [76]:
model.predict([[2,1,0]])

C:\Users\preet\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

#### Is salary of Google, Computer Engineer, Masters degree > 100 k ?

In [77]:
model.predict([[2,1,1]])

C:\Users\preet\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)